<!DOCTYPE html>
<html>
<body>

<h2>Estudiante</h2>

<form class="form-signin" method="post" action="/loginStudent">
    <p>
        <label for="dni" class="sr-only">DNI:</label>
        <input type="text" id="dni" name="dni" class="form-control" placeholder="DNI" required autofocus>
    </p>
    <p>
        <label for="legajo" class="sr-only">Legajo</label>
        <input type="text" id="legajo" name="legajo" class="form-control" placeholder="Legajo" required>
    </p>
    <a href="/student.html" button type="button" class="btn btn-success">Entrar</a>
</form>

</body>
</html>